body{
    text-align: center;
    background-color: #525252;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ffffff;
}
.title-container{
    background-color: #676767;
    margin-top: 33%;
    width: 80%;
    border-radius: 15px;
    padding: 10px 10px;
    margin-left: 10%;
    text-align: center;
}
.btn{
    margin-top: 5%;
    border-radius: 13px;
    border: none;
    background-color: #000000;
    padding: 20px 20px;
    text-align: center;
}
a{
    font-size: 30px;
    text-decoration: none;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}